DJI_LOGIN=your_login_here
DJI_PASSWORD=your_password_here
DJI_LOGIN_URL=https://www.djiag.com/login
DJI_API_BASE=https://kr-ag2-api.dji.com/api/web/v1
# Backfill start (unix ms). 1767207600000 = 2026-01-01 00:00 UTC+5
BACKFILL_START_MS=1767207600000
